.header {
  height: 60px;
  background-color: var(--darkBlack);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--gray);
}
.header a {
  margin: 0 2vw;
  /* border-right: 2px solid var(--white);
  border-left: 2px solid var(--white); */
  padding: 10px 30px;
  color: var(--white);
}
