.main {
  margin-top: 110px;
  min-height: 100vh;
}
.main div {
  margin: 0 15%;
  /* background-color: var(--white); */
  color: var(--white);
  text-align: left;
  padding: 10px 0;
}
.tags {
  margin-bottom: 50px;
}
.tag {
  margin-left: 10px;
  background-color: var(--gray);
  border-radius: 20px;
  padding: 3px 10px;
}
.none {
  display: none;
}
.main p {
  margin-top: 10px;
  font-size: 15px;
}
.main li {
  margin-top: 15px;
}
.main ul {
  margin-top: 10px;
}
.red {
  color: var(--red);
}
.green {
  color: var(--green);
}
.lightBlue {
  color: var(--lightBlue);
}
@media screen and (max-width: 800px) {
  .main div {
    margin: 0 20px;
  }
}
.marTop200 {
  margin-top: 200px;
}
.marTop110 {
  margin-top: 110px !important;
}
.marTop40 {
  margin-top: 40px;
}
.link {
  border-bottom: 1px solid var(--colorColor);
}
.main table {
  margin-top: 40px;
  border-collapse: collapse;
  border: 2px solid var(--colorColor);
  margin-left: 5px;
}
.main th,
.main td {
  font-size: 18px;
  border: 2px solid var(--colorColor);
  padding: 5px 10px;
  text-align: center;
}
