.main {
  margin-top: 110px;
  min-height: 100vh;
}
.main div {
  margin: 0 15%;
  /* background-color: var(--white); */
  color: var(--colorColor);
  text-align: left;
  padding: 10px 0;
}
.tags{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 !important;
}
.tag{
  margin-left: 10px;
  background-color: var(--gray);
  border-radius: 20px;
  padding: 3px 10px;
}
.date {
  margin-bottom: 30px;
}
.none {
  display: none;
}
.main p {
  margin-top: 10px;
  font-size: 15px;
}
.main li {
  margin-top: 15px;
}
.main ul {
  margin-top: 10px;
}
.red {
  color: var(--red);
}
.green {
  color: var(--green);
}
.yellow {
  color: var(--yellow);
}
.lightBlue {
  color: var(--lightBlue);
}

.backRed {
  background-color: var(--red);
}
.backOrange {
  background-color: var(--orange);
}
.backGreen {
  background-color: var(--green);
}

@media screen and (max-width: 800px) {
  .main div {
    margin: 0 10px;
  }
  .main p {
    margin-top: 5px;
  }
}
.marTop400 {
  margin-top: 400px !important;
}
.marTop200 {
  margin-top: 200px !important ;
}
.marTop110 {
  margin-top: 110px !important;
}
.marTop60 {
  margin-top: 60px !important ;
}
.marTop40 {
  margin-top: 40px !important ;
}
.marTop20 {
  margin-top: 20px !important ;
}
.link {
  border-bottom: 1px solid var(--colorColor);
}
.link:hover {
  color: var(--linkColor);
  border-bottom: 1px solid var(--linkColor);
  transition: 0.3s;
}
.main table {
  margin-top: 40px;
  border-collapse: collapse;
  border: 2px solid var(--colorColor);
  margin-left: 5px;
}
.main th,
.main td {
  font-size: 18px;
  border: 2px solid var(--colorColor);
  padding: 5px 10px;
  text-align: center;
}