.main {
  margin-top: 110px;
  text-align: left;
}
.main h2 {
  font-size: 20px;
  margin-left: 5px;
}
.main h3 {
  margin: 0 0 0 5px;
  font-size: 16px;
}
.margin {
  margin: 0 5%;
  display: flex;
}
.mediaSection {
  width: 55vw;
}
.youtube {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  border: none;
}
/* 著作権情報とアイコン */
/* paddingとmarginの変更にはレスポンシブに設定している値に注意する */
.iconCopyRight {
  display: flex;
  align-items: center;
}
.iconCopyRight img {
  user-select: none;
}
.iconCopyRight a {
  margin-left: 50px;
  padding: 7px 70px;
  background-color: var(--buttonColor);
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
}
.iconCopyRight a:hover {
  background-color: var(--buttonHoverColor);
  transition: 0.3s;
}
/* 著作権情報のポップアップ */
.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #e7e7e771;
}
.erase {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 70px;
  display: inline-block;
  background-color: var(--buttonColor);
  padding: 5px 50px;
  border-radius: 15px;
  cursor: pointer;
}
.erase:hover {
  background-color: var(--buttonHoverColor);
  transition: 0.3s;
}
.copyRightList {
  background-color: var(--gray);
  border-radius: 10px;
  min-height: 30%;
  width: 50%;
  position: fixed;
  left: 50vw;
  top: 40vh;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 50px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.521);
}
.copyRightList h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* 概要欄 */
.description {
  min-height: 200px;
  background-color: var(--gray);
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 80px;
}
.explain {
  margin-top: 40px;
}
.explain p {
  font-size: 15px;
}
/* ヒント */

.hints {
  margin-top: 70px;
}
.hints h2 {
  margin-bottom: 20px;
}
.openElement {
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--backgroundColor);
}

.hints summary {
  width: 35%;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 10px;
  user-select: none;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .hints summary {
    width: 80%;
  }
}
.colorTrue {
  background-color: var(--hintColor);
}
.colorTrue::after {
  content: "（ヒント）";
}
.colorFalse {
  background-color: var(--answerColor);
}
.colorFalse::after {
  content: "（答え）";
}
/* バグ修正情報 */
.bugsFixHistory {
  margin-top: 70px;
}

/* 他の作品一覧 */
.mapListTitle {
  text-align: center;
  margin-bottom: 40px;
}
.maps {
  width: 400px;
  float: right;
  margin-left: 40px;
}
.maps a {
  display: flex;
  margin-bottom: 10px;
}
.maps img {
  border-radius: 10px;
}

@media screen and (max-width: 1220px) {
  .mediaSection {
    width: 100%;
  }
  .margin {
    flex-direction: column;
  }
  .maps {
    margin-top: 70px;
    width: 100%;
  }
  .mapListTitle {
    display: none;
  }
  /* 著作権情報のポップアップ */
  .copyRightList {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .maps {
    margin-left: 0;
  }
  .main h3 {
    font-size: 14px;
  }
  /* 著作権情報とアイコン */
  .iconCopyRight a {
    padding: 7px 20px;
    margin-left: 30px;
  }
}

/* local時に非表示 */
.none {
  display: none;
}
/* 表 */
.description table {
  margin-top: 40px;
  border-collapse: collapse;
  border: 2px solid var(--colorColor);
  margin-left: 5px;
}
.description th,
.description td {
  font-size: 18px;
  padding: 5px 10px;
  text-align: center;
}

.public {
  background-color: var(--green);
}
.timeLocal {
  background-color: var(--purple);
}
.local {
  background-color: var(--red);
}
