.main {
  margin-top: 110px;
  text-align: left;
}
.main h2 {
  font-size: 20px;
  margin-left: 5px;
}
.main h3 {
  margin: 0 0 0 5px;
  font-size: 16px;
}
.margin {
  margin: 0 5%;
  display: flex;
}
.mediaSection {
  width: 55vw;
}
.youtube {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  border: none;
}
/* 概要欄 */
.description {
  min-height: 200px;
  background-color: var(--gray);
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 80px;
}
.explain {
  margin-top: 40px;
}
/* ヒント */

.hints {
  margin-top: 70px;
}
.hints h2 {
  margin-bottom: 20px;
}
.openElement {
  margin-left: 20px;
}
.hints summary {
  width: 35%;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 10px;
  user-select: none;
}
.hints summary:hover {
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .hints summary {
    width: 80%;
  }
}

.colorTrue {
  background-color: var(--hintColor);
}
.colorTrue::after {
  content: "（ヒント）";
}
.colorFalse {
  background-color: var(--answerColor);
}
.colorFalse::after {
  content: "（答え）";
}
/* 他の作品一覧 */
.mapListTitle {
  text-align: center;
  margin-bottom: 40px;
}
.maps {
  width: 400px;
  float: right;
  margin-left: 40px;
}
.maps a {
  display: flex;
  margin-bottom: 10px;
}
.maps img {
  border-radius: 10px;
}

@media screen and (max-width: 1220px) {
  .mediaSection {
    width: 100%;
  }
  .margin {
    flex-direction: column;
  }
  .maps {
    margin-top: 70px;
    width: 100%;
  }
  .mapListTitle {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .maps {
    margin-left: 0;
  }
  .main h3 {
    font-size: 14px;
  }
}

/* local時に非表示 */
.none {
  display: none;
}
/* 表 */
.description table {
  margin-top: 40px;
  border-collapse: collapse;
  border: 2px solid var(--colorColor);
  margin-left: 5px;
}
.description th,
.description td {
  font-size: 18px;
  padding: 5px 10px;
  text-align: center;
}

.public {
  background-color: var(--green);
}
.timeLocal {
  background-color: var(--purple);
}
.local {
  background-color: var(--red);
}