.LinkButton {
  padding: 10px 30px;
  background-color: var(--buttonColor);
  border-radius: 30px;
  margin-top: 20px;
}
.LinkButton:hover {
  background-color: var(--buttonHoverColor);
  transition: 0.3s;
}
