:root {
  --yellow: #ECF097;
  --green: #97D491;
  --red: #E04942;
  --white: #dddddd;
  --black: #202020;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}
body h1{
  font-family: "Potta";
  padding: 0;
  margin: 0;
}