:root {
  --yellow: #8e9605;
  --green: #599454;
  --red: #c2443d;
  --white: #e6e7e8;
  --black: #202020;
  --gray: #313131;
  --lightBlue: #1e99aa;
  --purple: #4a10b6;
  
  --linkColor: #003fb4;

  --buttonColor: var(--red);
  --buttonHoverColor: var(--green);
  --backgroundColor: var(--black);
  --colorColor: var(--white);
  --hintColor: var(--green);
  --answerColor: var(--red);

  /* --Potta: var(--Potta) */
}
html {
  scroll-behavior: smooth;
}
details {
  font-family: "NotoSansJP";
}
summary {
  font-family: "NotoSansJP";
}
body {
  color: var(--colorColor);
  background: var(--backgroundColor);
  padding: 0;
  margin: 0;
  text-align: center;
}
body h1 {
  padding: 0;
  margin: 0;
  font-family: "Potta";
  font-size: 32px;
}
body h2 {
  padding: 0;
  margin: 0;
  font-family: "NotoSansJP";
  font-size: 25px;
}
body h3 {
  font-family: "NotoSansJP";
}
p {
  padding: 0;
  margin: 0;
  font-family: "NotoSansJP";
}
ul {
  padding: 0;
  margin: 0;
  font-family: "NotoSansJP";
  margin-top: 40px;
}
li {
  list-style: none;
}
a {
  font-family: "NotoSansJP";
  text-decoration: none;
  color: var(--colorColor);
  font-size: 15px;
  display: inline-block;
}
table {
  font-family: "NotoSansJP";
}