:root {
  --yellow: #ecf097;
  --green: #599454;
  --red: #c2443d;
  --white: #e6e7e8;
  --black: #202020;
  --gray: #494949;
  --lightBlue: #1E99AA;

  --buttonColor: var(--red);
  --buttonHoverColor: var(--green);
  --backgroundColor: var(--black);
  --colorColor: var(--white);
}

body {
  color: var(--colorColor);
  background: var(--backgroundColor);
  padding: 0;
  margin: 0;
  text-align: center;
}
body h1 {
  padding: 0;
  margin: 0;
  font-family: "Potta";
  font-size: 32px;
}
body h2 {
  padding: 0;
  margin: 0;
  font-family: "NotoSansJP";
  font-size: 25px;
}
body h3 {
  font-family: "NotoSansJP";
}
p {
  padding: 0;
  margin: 0;
  font-family: "NotoSansJP";
}
a {
  font-family: "NotoSansJP";
  text-decoration: none;
  color: var(--colorColor);
  font-size: 15px;
  display: inline-block;
}
