.main img{
    border-radius: 2px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.521);
    margin-top: 40px;
    width: 416px;
}
.top{
    margin-top: 50px;
}
.topName{
    padding: 10px 0;
}
.sanserif{
    font-family: "NotoSansJPReg";
}