.main img {
  border-radius: 2px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.521);
  margin-top: 40px;
}
/* 新着情報 */
.newMapName {
  padding: 10px 20px;
  border-bottom: 1px solid var(--white);
}
.sanserif {
  font-family: "NotoserifJP";
}
.newMapDescription {
  margin-top: 10px;
}
.newMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 新着とお知らせを横並びにする */
.topElement {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.newsPlace {
  width: 540px;
  margin: 0 40px;
  margin-top: 40px;
  height: 300px;
  background-color: var(--white);
}

/* 過去作一覧 */
.mapList {
  margin-top: 100px;
}
