.copyRight {
  font-size: 13px;
  margin-bottom: 10px;
}
.links div {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  margin-bottom: 40px;
}
@media screen and (max-width: 800px) {
  .links div {
    flex-flow: column;
    margin-bottom: 20px;
  }
  .links a {
    margin: 0 5%;
    margin-bottom: 30px;
  }
}
.youtube {
  background-color: #a61922;
  border-radius: 20px;
  padding: 14px 50px;
  margin: 0 10px;
  font-size: 13px;
  font-family: "potta";
}
.twitter {
  background-color: #0f1419;
  border-radius: 20px;
  padding: 14px 50px;
  margin: 0 10px;
  font-size: 13px;
  font-family: "potta";
}
.bluesky {
  background-color: #1185fe;
  border-radius: 20px;
  padding: 14px 50px;
  margin: 0 10px;
  font-size: 13px;
  font-family: "potta";
}
.crafter {
  background-color: #ed9c4c;
  border-radius: 20px;
  padding: 14px 50px;
  margin: 0 10px;
  font-size: 13px;
  font-family: "potta";
}
.youtube:hover {
  background-color: #91161e;
  transition: 0.3s;
}
.twitter:hover {
  background-color: #0b0e11;
  transition: 0.3s;
}
.bluesky:hover {
  background-color: #0b77e9;
  transition: 0.3s;
}
.crafter:hover {
  background-color: #d38a41;
  transition: 0.3s;
}
