.mapList h2 {
  border-bottom: 1px solid var(--white);
  padding: 10px 20px;
}
.mapList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.map {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 70px;
}
